*.pyc
*.jpg
*.png
*.jpeg
*.json
*.pth
*.zip
convcap/third_party/coco-caption
dataset/final_faces
dataset/faces
dataset/final_images/
convcap/vis.py
convcap/data/train
convcap/data/val
convcap/data/holdout
convcap/data/test
convcap/data/glove*
convcap/__pycache__